/* .login-page{
    display: flex;
        align-items: center;
    justify-content: center;
}

.login {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.login button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
} */
.login-page{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .header{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: auto;
  }
  .login-mail{
    margin-bottom: 20px;
  }
  .login-pass{
    margin-bottom: 20px;
  }
  .login-button {
    padding: 10px 20px;
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #a9c1da;
  }